/*GERAL*/
body
{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    background-color: #f5f2d1;
	text-align: center;
}

.fer{
    margin-top: 20px;
    background-color: #002400;
}

/*CABECALHO*/
header
{
    width: 100vw;
    height: 25vh;
    display: flex;
    font-size: calc((1.2 - 1) * 1.2vw + 1rem);
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#menu
{
    width: 30%;
	margin: 0; 
    padding: 0;
	float: left;
}


.logo
{
    margin-top: 5px;
    width: 10vw;
    padding: 0;
}


.cab2
{
    margin-right: 15px;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.cab1
{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-bottom: 50px;
}


nav a:hover
{
    color: aqua;
}

a:visited {
    color: black;
}

#segundo-quadrado{
    background-color: #002400;
}

.btn-d
{
    margin-left: 185px;
}

/*CONTEUDO PRINCIPAL*/
main
{
    margin: 30px;
    text-align: justify;
}
.part
{
    margin-bottom: 110px;
}
.imgh
{
    height: 450px;
    width: 700px;
}
.main-text
{
    margin-bottom: 50px;
}
.tabela2
{
    float: left;
    border-style: solid;
    border-width: thick;
    margin: 30px;
    margin-top: 0;
}
.tabela1
{
    float: right;
    border-style: solid;
    border-width: thick;
    margin: 35px;
    margin-top: 0;
}
.flag
{
    float: right;
    border-style: solid;
    border-width: thick;
    height: 130px;
    margin: 30px;
    margin-bottom: 30px;
}
.mapa
{
    width: 330px;
    height: 330px;
}
.text-table
{
    font-size: 13px;
}
.opcoes
{
    height: 230px;
    border-style: solid;
    border-width: thick;
    border-radius: 2px;
    margin-right: 1020px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.opcoes a
{
    color:black
}


#menu li {
    margin: 0; padding: 0px;
    border-bottom: 1px solid #CCC;
    text-align: left;
    list-style-type: none;
    }

    #menu a:link {
		background: #F5F5F5;
		color: #666;
		font-weight: bold;
		text-decoration: none;
		padding: 8px;
		display: block;
		}

        #menu a:hover {
            background: #E5F0FF;
            color: #039;
            }
        
.logos
{
    border-style: solid;
    border-width: thick;
    margin-bottom: 20px;
}

/*RODAPÉ*/
.rod
{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    margin-top: 70px;
    padding-bottom: 10px;
} 
.rod-l
{
    display: inline;
    margin-right: 15px;
    font-size:medium;
}